@font-face {
  font-family: 'pixel_font';
  src: url('fonts/munro.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('images/catbg.webp'); 
  background-size: 95%;  /* Zoom out the image */
  background-position: center center;
  font-family: 'pixel_font', sans-serif;
  flex-direction: column;
  overflow: hidden; /* Prevents scrollbars from appearing */
}

  
.container {
  position: absolute; /* Allows precise placement */
  top: 175px; /* Adjusts distance from the top */
  right: 200px; /* Adjusts distance from the right */
  text-align: right; /* Aligns text inside the container to the right */
}
  
  h1 {
    font-size: 2.5em;
    color: #ffcaef;
    word-wrap: break-word; /* Allows long words to wrap */
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100px; /* Ensures h1 text does not overflow */
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1); /* Strong black shadow */
  }

  #animated-text {
    max-width: 600px; /* Set the maximum width in pixels */
    word-wrap: break-word; /* Ensures long words break onto the next line */
    overflow-wrap: break-word; /* Helps with word breaking */
    white-space: normal; /* Allows text to wrap normally */
    text-align: right; /* Keeps the text centered */
    margin: 0 auto; /* Centers the text block */
  }
  
  .volume-control {
    margin-top: 20px;
    text-align: right;
}

#volumeSlider {
    width: 200px;
    margin-top: 10px;
    background: #000000;
}


.buttons {
    font-family: 'pixel_font', sans-serif; 
    margin-top: 20px;
}

.next-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Ensures text is white */
    text-align: center; /* Centers the text */
}

.next-button {
    background-color: #e7658a; 
    /* margin-right: 10px; */
    font-family: 'pixel_font', sans-serif; 
}

.no-button {
    background-color: #f44336; /* Red */
    font-family: 'pixel_font', sans-serif; 
}

  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures it doesn't interfere with clicks */
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffb7c5;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-10px);
        opacity: 1;
    }
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
